<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="/img/profilepic.jpeg" width="40" height="40" alt="Profile Pic"/>
        &nbsp;Jim Sharples
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false"
            aria-controls="navigation" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navigation" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-2"><a class="nav-link" href="#aboutme" data-toggle="tooltip" data-placement="bottom" title="About Me" >About Me <i class="fas fa-user"></i></a></li>
            <li class="nav-item pr-2"><a class="nav-link" href="#work" data-toggle="tooltip" data-placement="bottom" title="Goto my latest projects" >My Work <i class="fas fa-briefcase"></i></i></a></li>
            <li class="nav-item pr-2"><a class="nav-link" href="#contactme" data-toggle="tooltip" data-placement="bottom" title="Show my contact details" >Contact Me <i class="fa fa-phone-square"></i></a></li>
            <li class="nav-item pr-2"><a class="nav-link" href="/resume.pdf" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Open my resume" >Resume <i class="fas fa-address-card"></i></a></li>
        </ul>
    </div>
</nav>