<footer class="footer text-white bg-dark fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <span class="text-muted text-left truncate"><small>&copy; Dr Jim Sharples</small></span>
            </div>
            <div class="col-6">
                <span >
                <a class="text-muted text-center truncate" href="mailto:dr.jim.sharples.clinic@gmail.com"><smalL>dr.jim.sharples.clinic@gmail.com</smalL></a>
            </span>
            </div>
            <div class="col-1">
                <span>
                    <a class="text-right text-white" target="_blank" href="https://github.com/jsharples777"><i class="fab fa-github"></i></a>
                </span>
            </div>
            <div class="col-1">
                <span>
                    <a class="text-right text-white" target="_blank" href="https://twitter.com/borncynical"><i class="fab fa-twitter-square"></i></a>
                </span>
            </div>
            <div class="col-1">
                <span>
                    <a class="text-right text-white" target="_blank" href="https://www.linkedin.com/in/dr-jim-sharples/"><i class="fab fa-linkedin"></i></a>
                </span>
            </div>
        </div>
    </div>
</footer>